@using BLL.Interface.Models

@model MvcUI.ViewModels.LotsViewModel

<div>

    @foreach (BLLLot lot in Model.Lots)
    {
        var lotClass = "class=lot";
        if (Model.Tab == "my_rates_lots" && lot.CurrentBuyerId != Model.CurrentUserId)
        {
            lotClass = "class=warning-lot";
        }
        else if (lot.LotIsFinishedAuction)
        {
            lotClass = "class=finished-lot";
        }

        <fieldset @lotClass>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        Name: <b>@lot.ArtworkName</b>
                    </div>
                    <div>
                        Author of image: <b>@lot.Author</b>
                    </div>
                    <div>
                        Artwork format: <b>@lot.ArtworkFormat</b>
                    </div>
                    <div>
                        Current price: <b>@lot.CurrentPrice</b>
                    </div>
                    <b>@Html.ActionLink("View details", "Lot", "LotManager", new {id = lot.Id}, null)</b>
                </div>
                <div class="col-md-6 right-align">
                    <img src="@lot.Photos" class="lot-image-in-list"/>
                </div>
            </div>
        </fieldset>
        <br/>
    }

</div>
<div class="center-align">
    <button class="btn" id="goToFirstPage" onclick="viewLotsObject.openPage('1')">
        First
    </button>

    <button class="btn" id="goToPage1" onclick="viewLotsObject.numericButtonsOfPagePressed('goToPage1')">
        1
    </button>

    <button class="btn" id="goToPage2" onclick="viewLotsObject.numericButtonsOfPagePressed('goToPage2')">
        2
    </button>

    <button class="btn" id="goToPage3" onclick="viewLotsObject.numericButtonsOfPagePressed('goToPage3')">
        3
    </button>

    <button class="btn" id="goToLastPage" onclick="viewLotsObject.openPage('@Model.MaxPageNumber')">
        Last
    </button>
</div>

<script type="text/javascript">
    var currentPageNumber = @Model.PageNumber;
    var maxPage = @Model.MaxPageNumber;

    viewLotsObject.renderPageButtons(currentPageNumber, maxPage);
</script>
