@using MvcUI.ViewModels
@model LotViewModel
@{
    ViewBag.Title = "CreateLot";
}
<h2>CreateLot</h2>


@*<div>
    <div class="well">
        <div id="datetimepicker1" class="input-append date">
            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"/>
            <span class="add-on">
                <span class="glyphicon glyphicon-calendar"></span>
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
            </span>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('#datetimepicker1').datetimepicker({
                language: 'en',
                format: 'dd/MM/yyyy hh:mm:ss',
                pickTime: true,
                //pickDate: false
            });
        });
    </script>

</div>*@


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <fieldset>
            <legend>Creating new lot:</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.ArtworkName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ArtworkName)
                @Html.ValidationMessageFor(m => m.ArtworkName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Author)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Author)
                @Html.ValidationMessageFor(m => m.Author)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Photos)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Photos)
                @Html.ValidationMessageFor(m => m.Photos)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ArtworkFormat)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ArtworkFormat)
                @Html.ValidationMessageFor(m => m.ArtworkFormat)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.YearOfCreation)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.YearOfCreation)
                @Html.ValidationMessageFor(m => m.YearOfCreation)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Description)
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.StartingPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.StartingPrice)
                @Html.ValidationMessageFor(m => m.StartingPrice)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.MinimalStepRate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MinimalStepRate)
                @Html.ValidationMessageFor(m => m.MinimalStepRate)
            </div>


        <div class="editor-label">
            @Html.LabelFor(m => m.DateOfAuction)
        </div>
            @Html.TextBoxFor(model => model.DateOfAuction , new { type = "datetime-local" })
            @Html.ValidationMessageFor(m => m.DateOfAuction)
            <br/><br /><br /><br />

            <p>
                <input type="submit" value="Create new lot" />
            </p>
        </fieldset>
    </div>
}