@using MvcUI.ViewModels
@model LotCreateModel
@{
    ViewBag.Title = "CreateLot";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <div style="margin-left: 37%">
            <h1>New lot</h1>
            <hr/>

            <div>
                @Html.LabelFor(m => m.ArtworkName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ArtworkName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.ArtworkName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Author)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Author, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Author)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Photos)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Photos, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Photos)
            </div>

            <div>
                @Html.LabelFor(m => m.ArtworkFormat)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ArtworkFormat, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.ArtworkFormat)
            </div>

            <div>
                @Html.LabelFor(m => m.YearOfCreation)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.YearOfCreation, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.YearOfCreation)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.StartingPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.StartingPrice, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.StartingPrice)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.MinimalStepRate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MinimalStepRate, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.MinimalStepRate)
            </div>


            <div class="editor-label">
                @Html.LabelFor(m => m.DateOfAuction)
            </div>
            @Html.TextBoxFor(model => model.DateOfAuction, new {type = "datetime-local", @class = "form-control"})
            @Html.ValidationMessageFor(m => m.DateOfAuction)
            <br/><br/><br/><br/>

            <p>
                <input type="submit" class="btn btn-info" value="Create new lot"/>
            </p>
        </div>
    </div>
}