@using MvcUI.Helpers
@using MvcUI.ViewModels
@model LotsViewModel
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery.unobtrusive")

<script type="text/javascript">
    var loadingImage = '@Url.Content("~/content/loadingImages/loading.gif")';

    function showLoadingAnimation() {
        var imageHtml = "<div class='center-align'><img src='" + loadingImage + "'/></div>";
        $('#lotList').html(imageHtml);
    }
</script>

<body>
<br/>

<div>
    <div class="tabs center-align">
        @Html.BuildLotsTabs(Model, "All Lots", "all_lots", x => @Url.Action("Index", "LotManager", new {Tab = x}))
        @Html.BuildLotsTabs(Model, "My Rates", "my_rates_lots", x => @Url.Action("Index", "LotManager", new { Tab = x }))
        @Html.BuildLotsTabs(Model, "My Lots", "my_lots", x => @Url.Action("Index", "LotManager", new { Tab = x }))
        @Html.BuildLotsTabs(Model, "My Wins", "my_wins_lots", x => @Url.Action("Index", "LotManager", new { Tab = x }))

    </div>
    <div id="lotList">@Html.Partial("_LotsList", Model)</div>
</div>

</body>





