@using BLL.Interface.Models
@using MvcUI.Helpers
@using MvcUI.ViewModels
@model LotsViewModel
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/jquery.unobtrusive")

<script src="@Url.Content("~/Scripts/LotManager/ViewLots.js")"></script>

<script type="text/javascript">
    @*var viewLotsObject = new viewLots();

    viewLotsObject.LOT_ACTION_URL = '@Url.Action("Lots")';
    viewLotsObject.ALL_LOTS = 'all_lots';
    viewLotsObject.MY_LOTS = 'my_lots';
    viewLotsObject.MY_RATES_LOTS = 'my_rates_lots';
    viewLotsObject.MY_WINS_LOTS = 'my_wins_lots'
    viewLotsObject.loadingImage = '@Url.Content("~/content/loadingImages/loading.gif")';

    // page loaded
    $(document).ready(function () {
        viewLotsObject.openTab(viewLotsObject.ALL_LOTS);
    });*@
</script>

<body>
<br/><br/>

<div>
    <div class="tabs center-align">
        <button class="btn" id="allLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.ALL_LOTS)">
            All lots
        </button>

        <button class="btn" id="myLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.MY_LOTS)">
            My lots
        </button>

        <button class="btn" id="myRatesLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.MY_RATES_LOTS)">
            My rates
        </button>

        <button class="btn" id="myWinsLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.MY_WINS_LOTS)">
            My wins
        </button>


        @if (Model.Tab == "my_rates_lots")
        {
            @Html.ActionLink("MY Rates", "Index", "LotManager", new {Tab = "my_rates_lots", PageNumber = 1}, new {@class = "btn btn-success"})
        }
        else
        {
            @Html.ActionLink("MY Rates", "Index", "LotManager", new { Tab = "my_rates_lots", PageNumber = 1 }, new { @class = "btn btn-info" })
        }

    </div>
    <div id="lotList">@Html.Partial("_AllLots", Model)</div>
</div>

</body>





