@using MvcUI.ViewModels
@model LotViewModel
@{
    ViewBag.Title = "Lot";
}

<h2>Show Lot</h2>

<div id="makeRateForm">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>
            <fieldset>
                <legend>Show lot:</legend>
                <dl>
                    <dt>Name: @Html.DisplayTextFor(r => r.ArtworkName)</dt>
                    <dt>Photo: @Html.DisplayTextFor(r => r.Photos)</dt>
                    <dt>Author of image: @Html.DisplayTextFor(r => r.Author)</dt>
                    <dt>Artwork format: @Html.DisplayTextFor(r => r.ArtworkFormat)</dt>
                    <dt>Starting price: @Html.DisplayTextFor(r => r.StartingPrice)</dt>
                    <dt>Description: @Html.DisplayTextFor(r => r.Description)</dt>
                    <dt>Current Price: @Html.DisplayTextFor(r => r.CurrentPrice)</dt>
                    <dt>Date Of finish of Auction: @Html.DisplayTextFor(r => r.DateOfAuction)</dt>
                    <dt>RatesCount: @Html.DisplayTextFor(r => r.RatesCount)</dt>
                </dl>
            </fieldset>
        </div>

        if (ViewBag.CanRate)
        {
            <div>
                <fieldset>
                    <legend>To make new rate</legend>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.PriceRate)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.PriceRate)
                        @Html.ValidationMessageFor(m => m.PriceRate)
                    </div>

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ArtworkName)
                    @Html.HiddenFor(model => model.Photos)
                    @Html.HiddenFor(model => model.Author)
                    @Html.HiddenFor(model => model.StartingPrice)
                    @Html.HiddenFor(model => model.Description)
                    @Html.HiddenFor(model => model.CurrentPrice)
                    @Html.HiddenFor(model => model.DateOfAuction)
                    @Html.HiddenFor(model => model.ArtworkFormat)
                    @Html.HiddenFor(model => model.RatesCount)
                    @Html.HiddenFor(model => model.CurrentUserId)

                    <p>
                        <input type="submit" value="to do rate"/>
                    </p>

                </fieldset>
            </div>
        }
    }
</div>

<div>
    @if (ViewBag.CanUpdate)
    {
        @Html.ActionLink("Update lot", "UpdateLot", "LotManager", new { id = Model.Id }, null)
    }

    @if (ViewBag.CanDelete)
    {
        <br/>
        <a onclick="deleteLot()">DELETE LOT</a>

        <script type="text/javascript">
            function deleteLot() {
                if (confirm("Are you really want delete this lot?") == false) {
                    return;
                }

                var url = '@Url.Action("DeleteLot")';
                var reditectUrl = '@Url.Action("Index")';

                var request = {
                    id: '@Model.Id'
                };

                ////todo loading
                $.ajax({
                    type: "POST",
                    url: url,
                    data: request,
                    success: function (result) {
                        if (result.toLowerCase() === "true") {
                            window.location.href = reditectUrl;
                        } else {
                            document.write(result);
                        }
                    }
                });
            }
        </script>
    }
</div>

