@using MvcUI.ViewModels
@model LotUpdateModel

@{
    ViewBag.Title = "UpdateLot";
}

<h2>Updating lot</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <fieldset>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td>Name:</td>
                        <td><b>@Html.DisplayTextFor(r => r.ArtworkName)</b></td>
                    </tr>
                    <tr>
                        <td>Author of image:</td>
                        <td><b>@Html.DisplayTextFor(r => r.Author)</b></td>
                    </tr>
                    <tr>
                        <td>Artwork format:</td>
                        <td><b>@Html.DisplayTextFor(r => r.ArtworkFormat)</b></td>
                    </tr>
                    <tr>
                        <td>Starting price:</td>
                        <td><b>@Html.DisplayTextFor(r => r.StartingPrice)</b></td>
                    </tr>
                </table>
                @*<dl>
                    <dt>Name: @Html.DisplayTextFor(r => r.ArtworkName)</dt>
                    <dt>Author of image: @Html.DisplayTextFor(r => r.Author)</dt>
                    <dt>Artwork format: @Html.DisplayTextFor(r => r.ArtworkFormat)</dt>
                    <dt>Starting price: @Html.DisplayTextFor(r => r.StartingPrice)</dt>
                </dl>*@

                <img src="@Html.DisplayTextFor(r => r.Photos)" width="500"/>
            </div>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DateOfAuction)

            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.MinimalStepRate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.MinimalStepRate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MinimalStepRate)
                </div>


                <div class="editor-label">
                    @Html.LabelFor(m => m.UpdatingDateOfAuction)
                </div>
                <div class="editor-field">
                    @{
                        var attr = new Dictionary<string, object>();
                        attr.Add("type", "datetime-local");
                    }
                    @Html.TextBox("UpdatingDateOfAuction", Model.UpdatingDateOfAuction.ToString("yyyy-MM-ddTHH:mm:ss"), attr)
                    @Html.ValidationMessageFor(m => m.UpdatingDateOfAuction)
                </div>
                <p>
                    <br/><br/><br/>
                    <input type="submit" value="Update this lot"/>
                </p>
            </div>
        </fieldset>
    </div>
}